.main-container{
    background: #a4b1bd;
    margin: 59px;
    font-size: 15px;
}
.container{
    background-color: white;
    width: 220px;
    height: 349px;
    /* border: 5px solid forestgreen; */
    padding: 28px;
    border-radius: 20px


}
.cont-p{
    font-size: 13px;
    opacity: 0.6;
    text-align: center;
    font-family: system-ui;
}
.cont-imag{
    width: 224px;
    height: 224px;
    border-radius: 10px;

}
.cont-h{
    text-align: center;
}
